body {
	margin: 0px;
	padding: 10px;
	background-color: #dddddd;
	font-size: 10pt;
	font-family: "Arial";
}

span {
	font-size: 10pt;
	font-family: "Arial";
}

.editor {
	min-width: 700px;
	min-height: 500px;
}

.editor ul {
	padding: 0px;
}

.editor ul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

div.manager {
}

div.manager div {
	display: inline;
	vertical-align: top;
	margin: 2px;
}

div.manager textarea {
	display: inline;
	vertical-align: top;
	width: 300px;
	height: 200px;
	margin: 2px;
}

select.wide {
	width: 200px;
}

div.debug {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 600px;
	overflow: scroll;
	background-color: #000000;
	color: #00ff00;
	font-family: "Arial";
	font-size: 10pt;
	z-index: 5;
}

div.debug form {
	margin: 0px;
	padding: 0px;
}

div.debug input {
	background-color: #000000;
	color: #00ff00;
	border: 1px solid #00ff00;
	margin: 1px;
}

div.debug input[type=text] {
	width: 62%;
	color: #ff8c00;
	border-color: #ff8c00;
}

div.debug input[type=submit] {
	width: 12%;
}

div.debug input[type=button] {
	width: 12%;
}

div.debug div {
	height: 150px;
	display: none;
}

.block {
	display: block;
}

.desc_box {
	width: 100%;
}

.popup {
	left: 150px;
	top: 100px;
	position: fixed;
	display: none;
	background-color: #dddddd;
	z-index: 1;
}

.combat {
	width: 1200px;
	max-height: 800px;
	overflow: scroll;
}

.popup fieldset {
	background-color: #dddddd;
}

.popup legend {
	background-color: #dddddd;
}

.fog {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
	background-color: #000000;
	opacity: 0.5;
	z-index: -1;
}

.attr_table table {
	border: 1px solid #000000;
	border-collapse: collapse;
	margin: 2px;
	padding: 2px;
	text-align: center;
	font-family: "Arial";
	font-size: 10pt;
}

.attr_table tr {
	border: 1px solid #000000;
	border-collapse: collapse;
	margin: 2px;
	padding: 2px;
	text-align: center;
}

.attr_table td {
	border: 1px solid #000000;
	border-collapse: collapse;
	margin: 2px;
	padding: 2px;
	text-align: center;
}

.small {
	display: inline;
	vertical-align: top;
	font-size: 10pt;
}

.small input {
	width: 50px;
}

.skill_table {
	float: left;
	margin-right: 10px;
	width: 350px;
	font-size: 10pt;
}

.skill_table table {
	width: 100%;
}

.skill_table input {
	width: 50px;
}

.panel {
	display: inline-block;
	vertical-align: top;
	width: 70%;
	margin-right: 20px;
	font-size: 10pt;
}

.sidebar {
	display: inline-block;
	position: fixed;
	right: 10px;
	top: 10px;
	vertical-align: top;
	width: 25%;
}

a.quick_link {
	margin-right: 5px;
}

/* NPC Combat Card */
div.colset {
	padding: 0px;
	margin: 0px;
	float: none;
	width: 100%;
	display: block;
}

div.col {
	padding: 0px;
	margin: 0px;
	display: inline-block;
	vertical-align: top;
}

div.npc_card_sml {
	width: 215px;
	height: 300px;
	display: inline-block;
	border: 1px solid #000000;
	margin: 5px;
	padding: 5px;
	font-family: "Arial Narrow";
	font-style: normal;
	font-size: 0.8em;
}

div.npc_card {
	min-width: 295px;
	min-height: 300px;
	display: inline-block;
	border: 1px solid #000000;
	margin: 5px;
	padding: 5px;
	font-family: "Arial Narrow";
	font-style: normal;
	font-size: 0.8em;
	vertical-align: top;
}

span.name {
	width: 100%;
	text-align: left;
	font-weight: bold;
}

table.small {
	font-size: 1em;
	margin: 2px;
	border: 1px solid #000000;
	width: 100%;
}

table.small thead {
	padding: 0px;
	margin: 0px;
}

table.small tfoot {
	padding: 0px;
	margin: 0px;
}

table.small tbody {
	padding: 0px;
	margin: 0px;
}

table.small tr {
	padding: 0px;
	margin: 0px;
}

table.small tbody tr:hover {
	background-color: #777777;
	color: #aaaaff;
}

table.small td {
	padding: 0px;
	margin: 0px;
}

table.centered {
	text-align: center;
}

thead.bolded {
	font-weight: bold;
}

ul.buttons {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

ul.buttons li {
	font-size: 0.8em;
	list-style: none;
	padding: 3px;
	margin: 5px;
	border: 1px solid #000000;
}

ul.buttons li:hover {
	background-color: #443155;
}

li.active {
	font-weight: bold;
	background-color: #340034;
}

/* CSS Tooltips */
.tooltip td {
	position: relative;
}

.tooltip span.classic {
	margin-left: -999em;
	poisition: absolute;
	display: none;
}

.tooltip:hover span.classic {
	border-radius: 5px 5px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
	position: absolute;
	left: 1em;
	top: 1.5em;
	z-index: 99;
	margin-left: 0;
	display: block;
	min-width: 75px;
}

.classic {
	padding: 3px 3px;
	background: #aaaaff;
	border: 1px solid #505050;
	color: #707070;
	text-align: left;
}

.classic ul {
	padding: 0px;
	margin: 0px;
}

.classic li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}