body {
	margin: 0px;
	padding: 10px;
}

.block {
	display: block;
}

div.popup {
	left: 100px;
	top: 100px;
	position: fixed;
	display: none;
	background-color: #ffffff;
}

.attr_table table {
	border: 1px solid #000000;
	border-collapse: collapse;
	margin: 2px;
	padding: 2px;
	text-align: center;
}

.attr_table tr {
	border: 1px solid #000000;
	border-collapse: collapse;
	margin: 2px;
	padding: 2px;
	text-align: center;
}

.attr_table td {
	border: 1px solid #000000;
	border-collapse: collapse;
	margin: 2px;
	padding: 2px;
	text-align: center;
}

.small {
	display: inline;
	vertical-align: top;
}

.panel {
	display: inline-block;
	vertical-align: top;
	width: 900px;
}

.sidebar {
	display: inline-block;
	position: fixed;
	right: 10px;
	top: 10px;
	vertical-align: top;
	width: 400px;
}

a.quick_link {
	margin-right: 5px;
}