body {
	margin: 0px;
	padding: 10px;
	background-color: #dddddd;
}

div.debug {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 600px;
	height: 150px;
	overflow: scroll;
	background-color: #000000;
	color: #00ff00;
	font-family: "Arial";
	font-size: 10pt;
	z-index: 5;
}

div.debug form {
	margin: 0px;
	padding: 0px;
}

div.debug input {
	background-color: #000000;
	color: #00ff00;
	border: 1px solid #00ff00;
	margin: 1px;
}

div.debug input[type=text] {
	width: 74%;
	color: #ff8c00;
	border-color: #ff8c00;
}

div.debug input[type=submit] {
	width: 12%;
}

div.debug input[type=button] {
	width: 12%;
}

.block {
	display: block;
}

.desc_box {
	width: 100%;
}

.popup {
	left: 300px;
	top: 200px;
	position: fixed;
	display: none;
	background-color: #dddddd;
	z-index: 1;
}

.combat {
	width: 1100px;
	max-height: 800px;
	overflow: scroll;
}

.popup fieldset {
	background-color: #dddddd;
}

.popup legend {
	background-color: #dddddd;
}

.fog {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
	background-color: #000000;
	opacity: 0.5;
	z-index: -1;
}

.attr_table table {
	border: 1px solid #000000;
	border-collapse: collapse;
	margin: 2px;
	padding: 2px;
	text-align: center;
}

.attr_table tr {
	border: 1px solid #000000;
	border-collapse: collapse;
	margin: 2px;
	padding: 2px;
	text-align: center;
}

.attr_table td {
	border: 1px solid #000000;
	border-collapse: collapse;
	margin: 2px;
	padding: 2px;
	text-align: center;
}

.small {
	display: inline;
	vertical-align: top;
}

.small input {
	width: 50px;
}

.skill_table {
	float: left;
	margin-right: 10px;
	width: 350px;
}

.skill_table table {
	width: 100%;
}

.skill_table input {
	width: 50px;
}

.panel {
	display: inline-block;
	vertical-align: top;
	width: 70%;
	margin-right: 20px;
}

.sidebar {
	display: inline-block;
	position: fixed;
	right: 10px;
	top: 10px;
	vertical-align: top;
	width: 25%;
}

a.quick_link {
	margin-right: 5px;
}