<!DOCTYPE html>
<html>
	<head>
		<title>GM Tool</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css\bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css\starter-template.css" />
		<link rel="stylesheet" type="text/css" href="css\gm.css" />
	</head>
	<body ng-app="gm-tool" ng-controller="mainCtl">
		<nav class="navbar navbar-default navbar-fixed-top">
		    <div class="container">
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a href="#" class="navbar-brand">GM-Tool</a>
		        </div>
		        <div class="collapse navbar-collapse" id="mainNavBar">
		            <ul class="nav navbar-nav">
		                <li ng-class="{active:state === states.dashboard}"><a href="#" ng-click="state = states.dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
		                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-book"></span> Campaigns <span class="caret"></span></a>
		                    <ul class="dropdown-menu">
		                        <li><a href="#">Campaign 1</a></li>
		                        <li><a href="#">Campaign 2</a></li>
		                    </ul>
		                </li>
		                <li ng-class="{active:state === states.npcs}"><a href="#" ng-click="state = states.npcs"><span class="glyphicon glyphicon-user"></span> NPCs</a></li>
		            </ul>
		            <ul class="nav navbar-nav navbar-right">
		            	<li><a href="#"><span class="glyphicon glyphicon-log-in"> Login</span></a></li>
		            </ul>
		        </div>
		    </div>
		</nav>
			<div class="container" ng-show="state === states.dashboard" ng-controller="dashboardCtl">
			    <dashboard-panel></dashboard-panel>
			    <site-footer></site-footer>
			</div>
			<div class="container" ng-show="state === states.npcs" ng-controller="npcCtl">
			    <npc-panel></npc-panel>
			    <site-footer></site-footer>
			</div>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/gm.js"></script>
	</body>
</html>