<div class="jumbotron">
    <h1>{{greeting}}</h1>
</div>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        Maybe put dashboard nav-pills here!
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        Lorem ipsum dolor sit amet, deserunt urbanitas dissentiunt cum eu, senserit patrioque et eum. Libris possim accusata ei eos. Ius fierent splendide eu, eu percipit invidunt democritum nam. Eos timeam pertinax qualisque te, ex per electram voluptatum. Nibh soleat apeirian est ex, te duo integre forensibus referrentur.
    </div>
</div>