<div class="alert alert-dismissable alert-info">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>{{news.title}}</strong>
	<p>{{news.text}}</p>
</div>
<div class="jumbotron">
    <h2>{{greeting}}</h2>
</div>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="panel panel-default">
        	<div class="panel-heading">Acitve Campaigns</div>
        	<div class="panel-body">
        		<div class="list-group">
        			<div class="list-group-item"><a href="#">Campaign 1</a></div>
        			<div class="list-group-item"><a href="#">Campaign 2</a></div>
        			<div class="list-group-item"><a href="#">Campaign 3</a></div>
        		</div>
        	</div>
        </div>
        <div class="panel panel-info">
        	<div class="panel-heading">Friends</div>
        	<div class="panel-body">
        		<div class="list-group">
        			<div class="list-group-item"><a href="#">Bill</a></div>
        			<div class="list-group-item"><a href="#">Brandon</a></div>
        		</div>
        	</div>
        </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <p>This tool is designed to be used with The Chronicles System role playing game system.  Hopefully, I will be able to make it generic enough to work with other systems though.</p>
        <h3>Planned features:</h3>
        <ul>
        	<li>Campaign Manager - this will give GMs a centralized location to store information about their campaigns such as NPC lists, story arcs, etc.</li>
        	<li>Player Character Manager - this will give players that ability to setup their character and share that will their GM.  Should be a great help in keeping track of PCs!</li>
        	<li>NPC Manager - this will come with pre-built NPCs for GMs to use and have the ability to add custom NPCs for later use.</li>
        	<li>Real Time Text Chat - the e-Sticky Note!</li>
        </ul>
        <h3>Dashboard Ideas</h3>
        <ul>
        	<li>Link to help documentation...if that evey happens</li>
        	<li>Have news alerts</li>
        	<li>List of online friends</li>
        	<li>Open chat with friends</li>
        </ul>
    </div>
</div>