<div class="row">
     <div class="well"><span class="text-warning">Modifying NPCs here will modify them in all campaigns for all GMs.  Please do so with caution.</span></div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="t in types" ng-class="{'active':selectedType === t}"><a href="#"><span class="badge">{{t.quantity}}</span>{{t.title}}</a></li>
        </ul>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-7  col-xs-12">
        {{selector}}
        <table class="table">
            <thead>
                <tr>
                    <th>NPC</th><th>Race</th><th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="n in npcs | filter:selectedType.selector">
                    <td>{{n.title}}</td><td>{{n.race}}</td><td>{{n.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>